/* theming: nav item background color */
$nav-button-background-color: var(--px-app-nav-item-background-color, $gray2);
$nav-button-background-color--hover: var(--px-app-nav-item-background-color--hover, $gray4);
$nav-button-background-color--pressed: var(--px-app-nav-item-background-color--pressed, $gray5);
$nav-button-background-color--active: var(--px-app-nav-item-background-color--active, $white);
/* theming: nav item icon fill color */
$nav-button-icon-fill-color: var(--px-app-nav-item-icon-fill-color, $gray8); /*@TODO: change to $gray15*/
$nav-button-icon-fill-color--hover: var(--px-app-nav-item-icon-fill-color--hover, $gray8); /*@TODO: change to $gray15*/
$nav-button-icon-fill-color--pressed: var(--px-app-nav-item-icon-fill-color--pressed, $gray8); /*@TODO: change to $gray15*/
/* theming: nav item text color */
$nav-button-text-color: var(--px-app-nav-item-text-color, $gray8); /*@TODO: change to $gray15*/
$nav-button-text-color--hover: var(--px-app-nav-item-text-color--hover, $gray8); /*@TODO: change to $gray15*/
$nav-button-text-color--pressed: var(--px-app-nav-item-text-color--pressed, $gray8); /*@TODO: change to $gray15*/

%app-nav-button {
  display: flex;
  align-items: center;
  padding-left: $inuit-base-spacing-unit;
  padding-right: $inuit-base-spacing-unit;
  font-size: $inuit-base-font-size;
  cursor: pointer;
  color: #425866;
  height: 60px;
  background-color: $nav-button-background-color;
  color: $nav-button-text-color;

  &:hover {
    background-color: $nav-button-background-color--hover;
  }
  &:active {
    background-color: $nav-button-background-color--pressed;
  }
}

%app-nav-button--selected {
  background-color: $nav-button-background-color--active;

  &:before {
    background-color: rgb(239, 242, 245);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #0986A4;
  }
}

.app-nav-button {
  @extend %app-nav-button;
  position: relative;
}
.app-nav-button iron-icon {
  --iron-icon-height: 30px;
  --iron-icon-width: 30px;
  --iron-icon-fill-color: $nav-button-icon-fill-color;
}
.app-nav-button__icon {
  margin-right: 10px;
}
.app-nav-button__icon--empty {
  background-color: $nav-button-icon-fill-color;
  width: 30px;
  height: 30px;
}
.app-nav-button__dropdown {
  --iron-icon-height: 15px;
  --iron-icon-width: 15px;
  margin-left: 5px;
}
.app-nav-button--selected {
  @extend %app-nav-button--selected;
}
