sudo: false
dist: trusty
language: node_js
node_js:
- stable
branches:
  except:
  - gh-pages
addons:
  firefox: latest
  apt:
    sources:
    - google-chrome
    packages:
    - google-chrome-stable
before_script:
- yarn add polymer-cli
- polymer install --variants
script:
- xvfb-run wct --skip-plugin sauce
- if [ "${TRAVIS_PULL_REQUEST}" = "false" ]; then wct --plugin sauce --skip-plugin
  local; fi
after_success:
- if [ "${TRAVIS_PULL_REQUEST}" = "false" ]; then openssl aes-256-cbc -k "$DEPLOYSECRET"
  -in deploy.enc -out deploy_key -d; fi
- ./scripts/ghp.sh
env:
  global:
  - secure: HhjM3XtQfg6bj+r3sjqlaWFKVSKY/0WM+nct9BgTvh0nCGzI8jPgvgcvRF+gH4uVq3Sw/YhV177O8gs+KHYmujn/IRT0VhZirGR9chjeO16sQ7oIuiXaRNM6nJ1rWdlej12VvBa76kVFX/wcmoT3Ep/55tKxBIrT+DIGSHF2YA/1iwTkCJ5ijzVrFpkX5uoHBnQWRP5AXHWN6cmAU0DQVtCYze495xbublyxvkglpNMyKAzxbB8NESZ4/b+qQycA+13iC7S1eeVj+Qwk8GwaJArT0RedeARlV+PZebez8+OjQ5lY39+MvsKzIzxSSzVLYSbihb0Zab39SdplfM0sCrXhcW356Spl4QUx/KIelp23HQcIYEIviB/LKpMo3aHXi30oUynGq7tnfqrI83vOov5EEIdUB7sDXYvI3TWqup7QM0nZQ/6Xp/dA80g3xhqTiBrwtA3r1tCdEIhB/S/mXGOsJyWHHareDGkT55W2au/ZjgYVZpqSi7M7lYgZZZ4QCSRfpBSOdgr3U9YbkxGEUz5zOHYpASRznCqX3xnzGqEk9NlQJ+XTYT+KXrdzAsCH340nu7FtLK69i/iFqlS+njltPTF403mRjEdEjeegIJ7jqG8v3C1K+S3EkTEs2USXv46t7AhOlWeuAFYi3dFPbvx6eMlVPXoH09idcBGKL4Y=
  - secure: a7NDLjoz03PnQlv00tJBTtqMm0YnenmKhcuAgeAsLVdOBpD+a5Gphsg8OGmsU06uhclJHAVJizg3EM6Wchb3BjjkFGvlhdyuXFBib7fZ5XKSRZxheW6HpmlomrwufvUSfA6/lf/lmvvHfFAJK+cWswGbL2iQsGoOeMZDj5Wy5qbluOPPcCh9dsbWlLPWQwSAHPKH7thGNFnxCD9eEwRmz5dDe9706DhTHPKZiiZx7f94/bjNq7phkZHL+bgbr1o2jjfoj0Mj0yxG91vBVt7PFOT1u7dIGUAx8Kqc+xm43nrXZ0IP0Wc0K/Ox52EN95VZjuUzV6lBtw3zEFRbG34zA7tkYg0GctVYw1+9YnraX8uCCxt4ATYK8T059eupUanODR1epn5jKbIogndP4IGsxFE7FFtC4QzFbrxhUtjL/jtKFN/aNDugO27Ac6cGvfUF6HUV+jaJyQfc4eP4GFq3UwoGYdhNPd+thoLKzdNQtutC8Tam8LBoiiNbgPhNG4C95bYQHDWv0ScgogQPclNg2lmEY5fksCTskbEzhOli0yvMF8lcOhB/PXWBOFbaxMBugFiXLBQMLv4aOd8rDVlAOAVBlEP+o6Fjgr9HhcQobt33H2kwM/hBBBAZv41S/OoMha8hhVpBBxpFPE1/CWCMeUH/NaC2z1Z4e1rq3bbyAiQ=
  - secure: nQGSWQAf5L6479Ypjm8iCwMEu+GJRG0Hxo+njelrBf/SefP6L/e60oM/W24zAQxHQtm9w3Nhm53OeTQzkQNJTGQ80RxjTE1T1D0PKZC3zFVMPkDSyrzMbUhfiE2lHM7SkxiOj6XdqeB+WgRH+uyulOR7LPJyw+FGWfi/YbAblDn1ra5RLY+EQCN9bHoDMQkshSUvq8nbBStf3hg8vt4TT51/aQDPUdalgNlTFNDpWZdPF0T7M3dKF+dnVgI9fzH2YD/pCckHMex9nW/vUbLFlS+QnN5OemNNDtDrPaOOWGcBXYA7EXQ0Wpf9OieYvzeQL12m3AGLU9prfcttCzbPo0Cmmx07d6k9ysyQ9WAuOR5gfLvbZoLJF5Zs3nGcqMUgdc6z69xDh3Lpqano+1sPh9Nm275GaXUuIVETSjqVVDzKXeZmP2WlLqVA5EgqVAfkleEYC9q1RwZbm38AYI1J29GvIx9i1AKIs1vw7sPbxxv61CGcWku+Yqkw1k81llY+8FqlQI1Zrjj2jXlSYF26ydkm1b34uBmqMeo65Tq3nEgbTBkMDrLBjJpmUKmKq6keGNgFfiTtI3J0EvpNkFHmHbsa1OHxWVDB5JLbnHNytWLpkwQFc2gTLVAhVqa7jgcXF/K3/IdI426KncP9otuVm3WuZetHdmDhBuNDhwtVpbw=
  - secure: dddAAlTxfIp92kqYKLX00bYzBBGU6lCtwkeID20wtlIwrXSNLlGH4zN2bhlrlXU0Qa5RPmoB7wa6auYLhajaIYQTdJQI4+IQlhoPPQYmDYxqYsYf9EuwzUGJE7WykBnxL1hug5+BIiqXiExqdNqoZF5aNSylcobm30vTf0i5vTcFNiPPMlPgC75lBLxJtthhgFc+EQtsCIAHeqBU0D9wH7fqN8kqfIDrR9jgbLCPWy1B/V9cYSpnA+GrijJKpPr6Wy0FM/rh0h/pw+NaK9vCQh4xO4+Q2Oo/4OBSLmFTflH2PG4SFlcyLKA2P0dipn8GjcjBmUjTrTSf8r9RvRSJY0QzF3yYb2RMyGY+REzrmOfh6TCZo6m+spdTlB5buqD03TDHt1pixHZMYdLX6prvo6ZgVXdzPLrB4Crn6u9JufODgpiEc6BIG9t07LFHg9Qbi4IZYgXdvRMWkR33FGuwpXAOAeXY8kDsGOLlzEFzgq/drlx4+Makqnc5494MG7X40/0IPYWnPwTwqISQRLiYzcQ0KJXD7URH3vKlqp+si9TJzclkLxp0GXv+ox3+oYYLgGFTL71eiiFDW786gcyud8ijiZ6KwneOnkxY9IQB3rZN1wO0yvto//ttwnycGvVxZi7pwIi2YPLalNKu6vVEFVF+si5PjeC38iw2fjKqe4E=
